<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!-- JDA-interne Debug-Logs unterdrücken -->
    <logger name="net.dv8tion.jda" level="WARN"/>
    <logger name="club.minnced" level="WARN"/>
    <logger name="okhttp3" level="WARN"/>
</configuration>
